h1 {
    font-family: 'Merienda', cursive;
    font-size: 35px;
}

body {
    background-image: url("../images/full-bloom.png");
}

header {
    align-content: center;
    text-align: center;
    margin: auto;
    margin-top: 35px;
}

#userNum, #userTarget, #winsLosses {
    font-family: 'Roboto', sans-serif;
    font-size: 25px;
    text-align: center;
    margin-top: 50px;
}

#crystalContainer {
    align-content: center;
    margin: auto;
    margin-top: 15px;
    border: 3px solid black;
    height: fit-content;
    width: fit-content;
    background-color: #e6ccff;
    overflow: auto;
}

#crystalBoxOne, #crystalBoxTwo, #crystalBoxThree, #crystalBoxFour {
    float: left;
    margin: 12px;
    cursor: pointer;
}

#crystalBoxOne:hover, #crystalBoxTwo:hover, #crystalBoxThree:hover, #crystalBoxFour:hover {
    opacity: .6;
}

